* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.login-wrapper {
  height: 100vh;
  width: 100%;
  background: linear-gradient(-45deg, #0f172a, #111827, #0b1220, #1e293b);
  background-size: 400% 400%;
  animation: gradientMove 12s ease infinite;
  position: relative;
  color: white;
}

@keyframes gradientMove {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(20px);
}

.login-container {
  position: relative;
  display: flex;
  height: 100%;
  padding: 80px;
  z-index: 2;
}

/* LEFT SIDE */
.left-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

.brand span {
  color: #22c55e;
}

.left-section h1 {
  font-size: 48px;
  margin: 20px 0;
}

.highlight {
  color: #22c55e;
}

.left-section p {
  max-width: 450px;
  color: #0d64dd;
  margin-bottom: 40px;
}

.stats {
  display: flex;
  gap: 40px;
}

.stats h3 {
  color: #22c55e;
}

/* RIGHT SIDE */
.right-section {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.glass-card {
  width: 380px;
  padding: 40px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(25px);
  box-shadow: 0 0 40px rgba(0, 255, 128, 0.15);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.glass-card h2 {
  margin-bottom: 10px;
}

.glass-card p {
  color: #94a3b8;
  margin-bottom: 30px;
}

.glass-card form {
  display: flex;
  flex-direction: column;
}

.glass-card input {
  padding: 14px;
  margin-bottom: 20px;
  border-radius: 10px;
  border: none;
  background: rgba(255, 255, 255, 0.1);
  color: white;
  outline: none;
}

.password-field {
  position: relative;
}

.password-field span {
  position: absolute;
  right: 15px;
  top: 15px;
  cursor: pointer;
  color: #94a3b8;
}

.glass-card button {
  padding: 14px;
  border-radius: 10px;
  border: none;
  background: linear-gradient(90deg, #22c55e, #16a34a);
  color: black;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.glass-card button:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(34, 197, 94, 0.6);
}

.signup {
  margin-top: 20px;
  text-align: center;
}

.signup span {
  color: #22c55e;
  cursor: pointer;
}
